<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSNI33bj_W10Zhj-uF8HdljUsNmFlk_nw</string>
	<key>GCM_SENDER_ID</key>
	<string>52077063138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xaxaton.FarmProduct</string>
	<key>PROJECT_ID</key>
	<string>xaxaton-d696b</string>
	<key>STORAGE_BUCKET</key>
	<string>xaxaton-d696b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52077063138:ios:ec99a9d25abd3cebaca7bb</string>
</dict>
</plist>